
<div class="wrapper fadeInDown">
  <img src="../../../../assets/static/logo.png" class="logo">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">{{title}}</h2>

    <!-- Login Form -->
    <form [formGroup]="form">
      <input type="password" class="fadeIn second"  placeholder="كلمة المرور الجديدة" formControlName="pass1"  name="pass1">
      <input type="password"class="fadeIn third" placeholder="تأكيد كلمة المرور الجديدة" formControlName="pass2"  name="pass2">
      <input type="submit" class="fadeIn fourth" (click)="onSubmit()" value="دخول">
    </form>
    <div id="formFooter" >
      <div class="mt-3" *ngIf="errorMsg">
        <p style="color: red">
     {{errorMsg}}

        </p>
      </div>
    </div>


  </div>
</div>
