<div class="confirmation-dialog-container">
  <article class="modal-container">
    <header class="modal-container-header">
      <h2 class="modal-container-title">
        {{isUpdate==="true"?"تعديل الإختصاص":"إضافة صلاحية"}}
      </h2>
    </header>
    <section class="modal-container-body rtf">
      <form [formGroup]="myForm" >
        <div class="container">
          <div class="row">
            <div class="col-6">
              <!-- <div class="form-group">
              <label >/label>
              <input type="text" class="form-control" formControlName="name" >
            </div> -->
            <app-custom-input label="اسم الصلاحية باللغة العربية" formControlName="arabicName" [control]="arabicNameControl" required="true" ></app-custom-input>
            </div>
            <div class="col-6">
              <app-custom-input label="اسم الصلاحية باللغة الإنجليزية" formControlName="name" [control]="nameControl" required="true" [dis]="isUpdate==='true'?'true':'false'"></app-custom-input>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>النوع</label>
                <select  class="form-control" formControlName="type" (disabled)="isUpdate" >
                  <option >
                  </option>
                    <option *ngFor="let type of types" value="{{type.arabicLabel}}">
                      {{ type?.arabicLabel}}
                    </option>
                </select>
              </div>
              </div>
        </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
              <label>ملاحظات</label>
              <textarea class="form-control" formControlName="note"></textarea>
            </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-container-footer">
      <button class="button is-ghost" (click)="onClose()" >إلغاء</button>
      <button class="button is-primary" (click)="isUpdate=='false'?onSubmit():onUpdate()" > {{isUpdate==="true"?"تعديل":"إضافة"}} </button>
    </footer>
  </article>
</div>
