
.form-control {
  display: block;
  font-size: x-small;
  font-weight: 400;
  color: #102d4a;
  appearance: revert-layer;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  /* width: fit-content !important; */
}
.fas, .fa-solid {
  font-weight: 900;
  font-size: large;
  margin: 5px;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

thead {
  /* top: 0; */
  z-index: 1;
}
tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  font-size: small !important;
}
input[type=button][_ngcontent-serverApp-c16], input[type=submit][_ngcontent-serverApp-c16], input[type=reset][_ngcontent-serverApp-c16] {
  background-color: #56baed;
  border: none;
  color: white;
  /* padding: 0; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 11px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  transition: all 0.3s ease-in-out;
  width: 120px;
}
/* table */
.table-container {
  border: 1px solid #e8e7e7;
  border-radius: 11px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 450px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #888888 #f8f8f8;
}

table {
  border-collapse: collapse;
  width: 100%;
}
.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #f8f8f8;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

table {
  border-collapse: collapse;
  width: 100%;
}
/* table-border */
tbody tr:not(:last-child) {
  border-bottom: 1px solid #e8e7e7;
}
tbody tr td:not(:last-child) {
  border-left: 1px solid #e8e7e7;
}
/* table-radious */
table tr:first-child th:first-child {
  border-top-right-radius: 8px;
}
table tr:first-child th:last-child {
  border-top-left-radius: 8px;
}
table tr:last-child td:first-child {
  border-bottom-right-radius: 8px;
}
table tr:last-child td:last-child {
  border-bottom-left-radius: 8px;
}
/* style tr, td, th */
tr th {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(73 100 115);
  /* width: 20px !important; */
}
tr td {
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}
th,
td {
  padding: 5px;
  text-align: center;
}
/* even and odd color */
tbody tr:nth-child(odd) {
  background-color: #fff;
}
tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}
.no-data[_ngcontent-serverApp-c16] {
  font-size: large;
  text-align: center;
  color: red !important;
}
tbody, tr, td:not(:last-child) {
  border-left: 1px solid #e8e7e7;
  width: 150px;
}
.action-item {
  display: flex;
  align-items: center;
}

.fa-bars {
  margin-right: 5px;
}
.action-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

select {
  padding: 5px;
}
.select-style {
  appearance: none;
  padding: 5px;
  background: transparent;
  border: none;
  font-family: 'Font Awesome 5 Free';
}
.no-data {
    color: #bdbd13;
}

.no-data i {
    font-size: 50px;
    margin-bottom: 20px;
}
.button {
  border-radius:4px;
  background-color: #0f3e56;
  width: 100px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.15s ease;
  color: #ffffff;
  font-size: smaller;
}
.dropdown-menu.show-action {
  display: contents;
}
.select-style option:before {
  content: '\f0c9';
  font-family: 'Font Awesome 5 Free';
  margin-right: 5px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: dropdown-fade-in 0.3s ease-out forwards;
}

/* Dropdown Links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Dropdown Links on Hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the Dropdown Menu on Hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown Animation */
@keyframes dropdown-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* media query */
@media only screen and (max-width: 600px) {
  .table-container {
    width: 303px;
    overflow-x: auto;
  }
}
