<div class="confirmation-dialog-container">
  <article class="modal-container">
    <header class="modal-container-header">
      <h2 class="modal-container-title">
        {{isUpdate==="true"?"تعديل القضاء":"إضافة قضاء"}}
      </h2>
    </header>
    <section class="modal-container-body rtf">
      <form [formGroup]="myForm" >
        <div class="container">
          <div class="row">
            <div class="col-6">
            <app-custom-input label="اسم المحافظة باللغة العربية" formControlName="arabicName" [control]="arabicNameControl" required="true" [dis]="isUpdate==='true'?'true':'false'"></app-custom-input>
            </div>
            <div class="col-6">
              <app-custom-input label="اسم المحافظة باللغة الإنجليزية" formControlName="name" [control]="nameControl" required="true" [dis]="isUpdate==='true'?'true':'false'"></app-custom-input>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
              <label>ملاحظات</label>
              <textarea class="form-control" formControlName="note"></textarea>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <app-custom-select
                formControlName="government"
                [label]="'المحافظة'"
                [control]="governmentControl"
                [required]="true"
                [errorMessage]="'حقل إجباري'"
                [placeholder]="'يرجى اختيار قضاء'"
                [options]="governments"
                [labelValue]="'arabicLabel'"
                [value]="'id'"
              ></app-custom-select>
              </div>
              </div>
        </div>
        </div>
      </form>
    </section>
    <footer class="modal-container-footer">
      <button class="button is-ghost" (click)="onClose()" >إلغاء</button>
      <button class="button is-primary" (click)="isUpdate=='false'?onSubmit():onUpdate()" > {{isUpdate==="true"?"تعديل":"إضافة"}} </button>
    </footer>
  </article>
</div>
