/* styles.scss */
/* Define a mixin for common styles */
.sidebar {
  background-color: rgb(73 100 115);
  width: 250px;
  padding: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  overflow-x: hidden;
  margin-top: 48px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  margin-bottom: 50px;

}
.sidebar li a {
  color: #d4d4d4;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
}
.sidebar li a .menu-icon {
  font-size: 24px;
  margin-right: 10px;
}
.sidebar li a:hover {
  background-color: #f1f1f1;
  color: #6c6c6c;
}
.sidebar li a.active {
  color: #000000;
  background-color: #f1f1f1;
}
.sub-menu {
  padding-right: 20px;
  /* Adjust the value to your desired padding */
}
.hideSidebar {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
/* Define the final state when showing */
.showSidebar {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}
.menu-text {
  font-size: larger !important;
}

.dropdown-menu.show {
  display: block;
  font-size: smaller !important;
}