/* styles.scss */
/* Define a mixin for common styles */
.sidebar {
  background-color:rgb(73 100 115);
  width: 250px;
  padding: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  overflow-x: hidden;
  margin-top: 48px;
}
.hideSidebar {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.showSidebar {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}.sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: start;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.sidebar a:hover {
  background-color: #007bff;
}

.sidebar a.active {
  background-color: #007bff;
  color: white;
  transform: translateX(1);
  transition: transform 0.3s, opacity 0.3s;
}

.dropdown-menu {
  display: none;
  position: static;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu .dropdown-item {
  color: #ffffff;
  padding: 0px 16px 0px 32px;
  text-decoration: none;
  display: block;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(13, 110, 253, 0.25);
}
