<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" >
  <ul>
    <li>
      <a routerLinkActive="active" (click)="goTo('core/home')">
        <span class="menu-text"><i class="fa-solid fa-house p-1"></i>الصفحة الرئيسية</span>
      </a>
    </li>
    <hr>
    <li>
      <a routerLinkActive="active" *permissionCheck="'Core'" (click)="showNotAvailbleNow()">
        <span class="menu-text"><i class="fa-solid fa-toolbox p-1"></i>الخدمات</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" (click)="showNotAvailbleNow()">
        <span class="menu-text"><i class="fa-solid fa-user p-1"></i>الأشخاص</span>
      </a>
    </li>
    <li>
      <div class="dropdown">
        <a *permissionCheck="'administrator'" class="dropdown-toggle" role="button" (mouseover)="toggleDropdown()" aria-haspopup="true" aria-expanded="false">
          <span class="menu-text"><i class="fa-sharp fa-solid fa-user-tie p-1"></i>لوحة القيادة</span>
        </a>
        <div class="dropdown-menu"  style="background-color: transparent;" [class.show]="dropdownVisible" [class.hide]="!dropdownVisible" #selectDropdown>
          <a *permissionCheck="'department'"  class="dropdown-item" routerLinkActive="active" (click)="goTo('core/department')">
            <span class="menu-text"> <i class="fa-solid fa-list-ul p-1"></i>الإختصاصات</span>
          </a>
          <a *permissionCheck="'positions'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/position')">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>المراتب</span>
          </a>
          <a *permissionCheck="'rules'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/rule')">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>الصلاحيات</span>
          </a>
          <a *permissionCheck="'users'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/users')">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>المستخدمون</span>
          </a>
          <a *permissionCheck="'unknown'" class="dropdown-item" routerLinkActive="active" (click)="showNotAvailbleNow()">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>المستخدمون</span>
          </a>
          <a *permissionCheck="'unknown'" class="dropdown-item" routerLinkActive="active" (click)="showNotAvailbleNow()">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>المستخدمون</span>
          </a>
          <a *permissionCheck="'unknown'" class="dropdown-item" routerLinkActive="active"  (click)="showNotAvailbleNow()">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>المستخدمون</span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
