<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }">
  <ul>
    <li>
      <a routerLinkActive="active" (click)="goTo('core/home')">
        <span class="menu-text"><i class="fa-solid fa-house p-1"></i>الصفحة الرئيسية</span>
      </a>
    </li>
    <hr>
    <li>
      <a routerLinkActive="active" *permissionCheck="'Core'" (click)="showNotAvailbleNow()">
        <span class="menu-text"><i class="fa-solid fa-toolbox p-1"></i>الخدمات</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" *permissionCheck="'Person'" (click)="goTo('core/person')">
        <span class="menu-text"> <i class="fa-solid fa-list-ul p-1"></i>الأشخاص</span>
      </a>
    </li>
    <li class="dropdown">
      <a *permissionCheck="'setup'" class="dropdown-toggle" role="button" (click)="setupToggleDropdown()" aria-haspopup="true" aria-expanded="false">
        <span class="menu-text"><i class="fa-sharp fa-solid fa fa-cog p-1"></i>الإعدادات</span>
      </a>
      <ul class="dropdown-menu" [class.show]="setupDropdown">
        <li>
          <a *permissionCheck="'government'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/setup/government')">
            <span class="menu-text"> <i class="fa-solid fa-list-ul p-1"></i>المحافظات</span>
          </a>
        </li>
        <li>
          <a *permissionCheck="'caza'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/setup/caza')">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>الأقضية</span>
          </a>
        </li>
        <li>
          <a *permissionCheck="'town'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/setup/town')">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>البلدات</span>
          </a>
        </li>
        <li>
          <a *permissionCheck="'status'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/setup/status')">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>الحالات</span>
          </a>
        </li>
        <li>
          <a *permissionCheck="'mngService'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/setup/service')">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>الخدمات</span>
          </a>
        </li>
        <li>
          <a *permissionCheck="'mngStatusFlow'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/setup/status-flow')">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>مسار الحالات</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a *permissionCheck="'administrator'" class="dropdown-toggle" role="button" (click)="toggleDropdown()" aria-haspopup="true" aria-expanded="false">
        <span class="menu-text"><i class="fa-sharp fa-solid fa-user-tie p-1"></i>لوحة القيادة</span>
      </a>
      <ul class="dropdown-menu" [class.show]="dropdownVisible">
        <li>
          <a *permissionCheck="'department'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/department')">
            <span class="menu-text"> <i class="fa-solid fa-list-ul p-1"></i>الإختصاصات</span>
          </a>
        </li>
        <li>
          <a *permissionCheck="'positions'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/position')">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>المراتب</span>
          </a>
        </li>
        <li>
          <a *permissionCheck="'rule'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/rule')">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>الصلاحيات</span>
          </a>
        </li>
        <li>
          <a *permissionCheck="'users'" class="dropdown-item" routerLinkActive="active" (click)="goTo('core/users')">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>المستخدمون</span>
          </a>
        </li>
        <li>
          <a *permissionCheck="'unknown'" class="dropdown-item" routerLinkActive="active" (click)="showNotAvailbleNow()">
            <span class="menu-text"><i class="fa-solid fa-list-ul p-1"></i>المستخدمون</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
