/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'cairo';
  src:
       url('./assets/fonts/Cairo-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'cairo', sans-serif;
  background-color: #ebebeb;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
