<div class="confirmation-dialog-container">
  <article class="modal-container">
    <header class="modal-container-header">
      <h2 class="modal-container-title">
        {{isUpdate==="true"?"تعديل مسار الحالات":"إضاف مسار الحالات"}}
      </h2>
    </header>
    <section class="modal-container-body rtf">
      <form [formGroup]="myForm" >
        <div class="container">
          <div class="row">
            <div class="col-6">
            <app-custom-input label="اسم حالة باللغة العربية" formControlName="arabicName" [control]="arabicNameControl" required="true" [dis]="isUpdate==='true'?'true':'false'"></app-custom-input>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <app-custom-select

                [label]="'الحالة'"
                [control]="statusControl"
                [required]="true"
                [errorMessage]="'حقل إجباري'"
                [placeholder]="'يرجى اختيار حالة'"
                [options]="allStatuses"
                [labelValue]="'arabicLabel'"
                [value]="'id'"
              ></app-custom-select>
              </div>
              </div>
        </div>
        <div class="row"></div>
          <div class="col-12">
            <div class="form-group">
              <app-custom-select
              disable="isUpdate"
              formControlName="service"
              [label]="'الخدمة'"
              [control]="serviceControl"
              [required]="true"
              [errorMessage]="'حقل إجباري'"
              [placeholder]="'يرجى اختيار مرتبة'"
              [options]="allServices"
              [labelValue]="'arabicLabel'"
              [value]="'id'"
            ></app-custom-select>
            </div>
      </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <app-custom-select
              formControlName="position"
              [label]="'المرتبة'"
              [control]="positionControl"
              [required]="true"
              [errorMessage]="'حقل إجباري'"
              [placeholder]="'يرجى اختيار خدمة'"
              [options]="allPositions"
              [labelValue]="'arabicLabel'"
              [value]="'id'"
            ></app-custom-select>
            </div>
            </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <app-custom-multi-select
            formControlName="nextStatus"
            [label]="'يرجى اختيار الحالات التالية'"
            [control]="nextStatusControl"
            [required]="true"
            [options]="allStatuses"
            [labelValue]="'arabicLabel'"
            [value]="'id'"
            [placeholder]="'Select one or more options'"
          ></app-custom-multi-select>
          </div>
          </div>
    </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
              <label>ملاحظات</label>
              <textarea class="form-control" formControlName="note"></textarea>
            </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-container-footer">
      <button class="button is-ghost" (click)="onClose()" >إلغاء</button>
      <button class="button is-primary" (click)="isUpdate=='false'?onSubmit():onUpdate()" > {{isUpdate==="true"?"تعديل":"إضافة"}} </button>
    </footer>
  </article>
</div>
